@model BookStoreWeb.Models.BookVM

@{
    ViewData["Title"] = "GetBookById";
}

<h1>GetBookById</h1>

<div>
    <h4>BookVM</h4>
    <hr />
    @if (Model != null)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.pages)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.pages)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.created)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.modify)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.modify)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.language)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.language)
            </dd>
            <dt class="col-sm-2">
                Images
            </dt>
            <dd class="col-sm-10">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (var i = 0; i < Model.galleryImagesPaths.Count(); i++)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                        }
                    </ol>
                    <div class="carousel-inner">
                        @for (var i = 0; i < Model.galleryImagesPaths.Count(); i++)
                        {
                            <div class="@(i==0? "carousel-item active":"carousel-item")">
                                <img src="@Model.galleryImagesPaths[i].path" class="d-block w-100" alt="@Model.galleryImagesPaths[i].name">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </dd>
        </dl>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">
                Book:
            </dt>
            <dd class="col-sm-10">
                No content founded.
            </dd>
        </dl>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="AllBooks">Back to List</a>
</div>
